PUCP 305 (glosas)
Static-Hand-Gestures-of-the-Peruvian-Sign-Language-Alphabet-master
CreateDataSets/datasets
Lengua de señas peruana guía para el aprendizaje de la lengua de señas peruana, vocabulario básico (1).pdf
*.h5